name: CI

on: push

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4


      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'


      - name: Hello from Hexlet action
        uses: hexlet-components/hello-from-hexlet-action@release


      - name: Install dependencies
        run: npm ci


      - name: Run tests
        run: npm test
